extends layout 
block layout-content
    div(class="box")
        div(class="characters") <!--make css later-->
        h1 Video Game Characters Home Page
        h2 These are all of your characters!
            if(characterList.length > 0)
                each character in characterList 
                    div(class='characters') <!--make css later-->
                        div(class="characterDisplay")=' Character: ' + character.character + " "
                        div(class="characterDisplay")=' Skill: ' + character.skill + " "
                        div(class="characterDisplay")=' Game: ' + character.game + " "
                        div(class="characterDisplay")=' Image: '
                        img(src=character.picture class="characterImg")